/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family:gnuolane;
    src:url('/fonts/gnuolane.eot');
    src:url('/fonts/gnuolane.eot?#iefix') format('embedded-opentype'),
        url('/fonts/gnuolane.woff') format('woff'),
        url('/fonts/gnuolane.ttf') format('truetype'),
        url('/fonts/gnuolane.svg#gnuolane') format('svg');
    font-weight:normal;
    font-style:normal;
}
* {
    margin:0;
    padding:0;
}
body {
    background:#487e32 url(/images/fern-green.jpg);
    font-family:gnuolane,sans-serif;
    font-size:12px;
}
#wrapper {
    margin:0 auto;
    width:1000px;
}
#main-header {
    background:#fff url(/images/main-header.jpg) no-repeat;
    height:157px;
    position:relative;
}
#main-header #branding {
    left:45px;
    position:absolute;
    top:29px;
}
#main-header #branding a {
    background:url(/images/derecha-trucks.png) no-repeat;
    display:block;
    height:99px;
    outline:0;
    text-indent:-9999px;
    width:194px;
}
#main-header #telephone {
    background:url(/images/telephone.png) no-repeat;
    color:#3f3f3f;
    font:32px/70px gnuolane,sans-serif;
    height:70px;
    padding:0 0 0 70px;
    position:absolute;
    top:54px;
    right:79px;
    width:186px;
}
#main-nav {
    background:#f8f8f8;
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background:-moz-linear-gradient(top,  #f8f8f8 0%, #e5e5e5 67%, #dfdfdf 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(67%,#e5e5e5), color-stop(100%,#dfdfdf));
    background:-webkit-linear-gradient(top,  #f8f8f8 0%,#e5e5e5 67%,#dfdfdf 100%);
    background:-o-linear-gradient(top,  #f8f8f8 0%,#e5e5e5 67%,#dfdfdf 100%);
    background:-ms-linear-gradient(top,  #f8f8f8 0%,#e5e5e5 67%,#dfdfdf 100%);
    background:linear-gradient(to bottom,  #f8f8f8 0%,#e5e5e5 67%,#dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dfdfdf',GradientType=0 );
    border-bottom:1px solid #d1d1d1;
    border-top:1px solid #dbdbdb;
    border-radius:0 0 5px 5px;
    box-shadow:2px 1px 5px 0 rgba(0, 0, 0, 0.27); 
    height:50px;
}
#main-nav ul {
    margin:0;
    padding:0;
}
#main-nav > ul > li {
    float:left;
}
#main-nav > ul > li > a {
    color:#3f3f3f;
    border-left:1px solid #b7b7b7;
    display:block;
    font:18px/52px gnuolane,sans-serif;
    padding:0 30px;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    top:-1px;
}
#main-nav > ul > li > a:hover {
    background:#2f2f2f url(/images/main-nav-a.jpg) repeat-x;
    color:#fff;
}
#main-nav > ul > .first > a {
    border-left:none;
    border-radius:0 0 0 5px;
}
#main-nav > ul > .dropdown {
    position:relative;
    z-index:9999;
}
#main-nav > ul > .dropdown:hover > a {
    background:#2f2f2f url(/images/main-nav-a.jpg) repeat-x;
    color:#fff;
}
#main-nav > ul > .dropdown:hover ul {
    display:block;
}
#main-nav > ul > .dropdown > ul {
    background:#2f2f2f url(/images/main-nav-a.jpg);
    box-shadow:2px 1px 5px 0 rgba(0, 0, 0, 0.27); 
    display:none;
    left:1px;
    position:absolute;
    top:51px;
    width:260px;
}
#main-nav > ul > .dropdown > ul > li > a {
    background:url(/images/dropdown-a.png) no-repeat 30px center;
    color:#cfcfcf;
    display:block;
    font:12px/28px gnuolane,sans-serif;
    padding:0 0 0 49px;
    text-decoration:none;
    text-transform:uppercase;
}
#main-nav > ul > .dropdown > ul > li > a:hover {
    background-color:#c3440f;
    color:#fff;
}
#main-nav > ul > .social {
    float:right;
}
#main-nav > ul > .social > ul > li {
    border-left:1px solid #b7b7b7;
    float:left;
}
#main-nav > ul > .social > ul > .twitter {
    border-left:none;
}
#main-nav > ul > .social > ul > li > a {
    display:block;
    line-height:52px;
    text-indent:-9999px;
    position:relative;
    top:-1px;
    width:45px;
}
#main-nav > ul > .social > ul > .twitter > a {
    background:url(/images/twitter.png) no-repeat center center;
}
#main-nav > ul > .social > ul > .youtube > a {
    background:url(/images/youtube.png) no-repeat center center;
}
#main-nav > ul > .social > ul > .facebook > a {
    background:url(/images/facebook.png) no-repeat center center;
}
#main-content {
    background:#fff;
    border-radius:0 0 5px 5px;
    margin:0 10px 42px 10px;
    padding:25px;
}
#main-slider {
    background:url(/images/slider.jpg) no-repeat;
    border:1px solid #c6c6c6;
    border-radius:5px;
    box-shadow:none;
    height:312px;
    margin:0 0 20px 0;
    overflow:hidden;
    width:928px;
}
#slider a {
    display:block;
    text-decoration:none;
}
#slider figure {
    position:relative;
}
#slider .slide-picture {
    display:block;
    max-height:312px;
    max-width:460px;
}
#slider .slide-badge {
    background:url(/images/offer.png) no-repeat;
    height:164px;
    left:0;
    position:absolute;
    text-indent:-9999px;
    top:0;
    width:196px;
}
#slider .slide-title {
    background:#487e32 url(/images/fern-green.jpg);
    color:#fff;
    display:inline-block;
    font:50px/50px gnuolane,sans-serif;
    padding:10px;
    position:absolute;
    text-align:right;
    right:0;
    top:100px;
    width:405px;
}
#main-slider ol {
    bottom:0;
}
#main-slider .flex-control-paging li a {
    background:#c8c8c8;
    box-shadow:none;
}
#main-slider .flex-control-paging li a.flex-active {
    background:#3f3f3f;
}


#articles-buffer > .first {
    margin:0;
}
.motor-vehicle-teaser {
    float:left;
    margin:0 0 0 24px;
    min-height:300px;
    width:199px;
}
.motor-vehicle-teaser .motor-vehicle-figure {
    margin:0 0 7px 0;
    position:relative;
}
.motor-vehicle-teaser .motor-vehicle-figure:after {
    background:url(/images/badge.png) no-repeat;
    content:"";
    height:40px;
    left:7px;
    position:absolute;
    top:0;
    width:32px;
}
.motor-vehicle-teaser .motor-vehicle-figure img {
    border:1px solid #d1d1d1;
    display:block;
    max-height:148px;
    width:197px;
}
.motor-vehicle-teaser .motor-vehicle-figure figcaption {
    background:#cc0509 url(/images/monza.jpg);
    border-radius:3px 3px 0 0;
    bottom:1px;
    color:#fff;
    font:16px/30px gnuolane,sans-serif;
    padding:0 10px;
    position:absolute;
    right:5px;
}
.motor-vehicle-teaser .motor-vehicle-header {
    margin:0 0 4px 0;
}
.motor-vehicle-teaser .motor-vehicle-header h2 {
    font:16px/16px gnuolane,sans-serif;
    margin:0;
}
.motor-vehicle-teaser .motor-vehicle-header a{
    color:#303030;
    text-decoration:none;
}
.motor-vehicle-teaser .motor-vehicle-price {
    color:#d74508;
    font:bold 14px/14px calibri,sans-serif;
    margin:0 0 10px 0;
}
.motor-vehicle-teaser .motor-vehicle-footer ul {
    list-style:none;
    margin:0;
    padding:0;
}
.motor-vehicle-teaser .motor-vehicle-footer li {
    float:left;
    margin:0 0 0 5px;
}
.motor-vehicle-teaser .motor-vehicle-footer .first {
    margin:0;
}

.motor-vehicle .master-row-one {
    background:url(/images/dual-color.jpg) repeat-y;
    border-radius:5px;
    margin:0 0 20px 0;
    padding:40px 38px 45px 49px;
    position:relative;
}
.motor-vehicle .master-row-one .slave-column-one {
    padding:0 49px 0 0;
    width:315px;
}
.motor-vehicle .master-row-one .slave-column-one:after {
    background:url(/images/dual-color-triangle.jpg) no-repeat;
    content:"";
    height:118px;
    left:413px;
    margin:-59px -20px 0 0;
    position:absolute;
    top:50%;
    width:40px;
}
.motor-vehicle .motor-vehicle-header {
    margin:0 0 6px 0;
}
.motor-vehicle .motor-vehicle-header h1 {
    color:#fff;font:30px/30px gnuolane,sans-serif;margin:0;
}
.motor-vehicle .motor-vehicle-price { 
    color:#fff;
    font:20px/20px gnuolane,sans-serif;
    margin:0 0 6px 0;
}
.motor-vehicle .motor-vehicle-sold-out { 
    background:url(/images/sold-out.png) no-repeat;
    height:108px;
    left:369px;
    margin:0;
    position:absolute;
    text-indent:-9999px;
    top:4px;
    width:44px;
}
.motor-vehicle .motor-vehicle-comments { 
    color:#fff;
    font:14px gnuolane,sans-serif;
    margin:0 0 6px 0;
}
/*
.motor-vehicle .motor-vehicle-comments {
    background:#2d2d2d url(/images/mine-shaft.jpg);
    color:#fff;
    font:14px "Myriad Pro",sans-serif;
    left:-63px;
    margin:0 0 6px 0;
    padding:14px 63px;
    position:relative;
    width:315px;
}
.motor-vehicle .motor-vehicle-comments:after {
    background:url(/images/left-ribbon.png) no-repeat;
    bottom:-10px;
    content:"";
    height:10px;
    left:0;
    position:absolute;
    width:14px;
}
.motor-vehicle .motor-vehicle-comments:before {
    background:url(/images/right-ribbon.png) no-repeat;
    bottom:-10px;
    content:"";
    height:10px;
    right:0;
    position:absolute;
    width:14px;
}
*/
.motor-vehicle table {
    margin:16px 0 0 0;
    width:100%;
}
.motor-vehicle th {
    color:#1c1c1c;
    font:bold 16px/16px calibri,sans-serif;
    padding:0 0 5px 0;
    text-align:left;
    vertical-align:top;
    width:50%;
}
.motor-vehicle td {
    color:#fff;
    font:16px/16px calibri,sans-serif;
    padding:0 0 5px 0;
    text-align:left;
    vertical-align:top;
    width:50%;
}
.motor-vehicle .master-row-one .slave-column-two {
    padding:0 0 0 66px;
    width:413px;
}
.motor-vehicle .master-row-one .slave-column-two h2 {
    color:#3b3b3b;
    font:30px/30px gnuolane,sans-serif;
    margin:0 0 6px 0;
}
.motor-vehicle .master-row-one .slave-column-two .success {
    color:#439124;
    font:30px/30px gnuolane,sans-serif;
    margin:0 0 6px 0;
}
.motor-vehicle .master-row-one .slave-column-two .form-item {
    margin:0 0 10px 0;
}
.motor-vehicle .master-row-one .slave-column-two label {
    color:#1c1c1c;
    display:block;
    font:18px/18px gnuolane,sans-serif;
    margin:0 0 5px 0;
}
.motor-vehicle .master-row-one .slave-column-two .form-text {
    background:#efeeee;
    box-shadow:inset 6px 3px 4px 0 rgba(0, 0, 0, 0.21); 
    border:1px solid #d0d0d0;
    border-radius:5px;
    font:16px/18px calibri,sans-serif;
    height:32px;
    padding:0 5px;
    width:401px;
}
.motor-vehicle .master-row-one .slave-column-two .form-textarea {
    background:#efeeee;
    box-shadow:inset 6px 3px 4px 0 rgba(0, 0, 0, 0.21); 
    border:1px solid #d0d0d0;
    border-radius:5px;
    font:16px/18px calibri,sans-serif;
    height:100px;
    padding:5px;
    width:401px;
}
.motor-vehicle-gallery .first {
    margin:0 0 20px 0!important;
}
.motor-vehicle-gallery .motor-vehicle-figure {
    float:left;
    height:342px;
    margin:0 0 20px 20px;
    position:relative;
    overflow:hidden;
    width:455px;
}
.motor-vehicle-gallery .motor-vehicle-figure img {
    border:1px solid #d1d1d1;
    display:block;
    width:453px;
}
.motor-vehicle-video figcaption {
    background:#2d2d2d url(/images/mine-shaft.jpg);
    border-radius:5px 5px 0 0;
    color:#fff;
    font:24px/39px gnuolane,sans-serif;
    text-align:center;
    width:135px;
}
.motor-vehicle .motor-vehicle-figure .sold-out {
    background:#cc0509 url(/images/monza.jpg);
    border-radius:3px 3px 0 0;
    bottom:1px;
    color:#fff;
    font:16px/30px gnuolane,sans-serif;
    padding:0 10px;
    position:absolute;
    right:5px;
}
.motor-vehicle-video iframe {
    background:#2d2d2d url(/images/mine-shaft.jpg);
    border-radius:0 0 5px 5px;
    display:block;
    padding:33px 16px 33px 17px;
}
#contact .master-row-one {
    margin-bottom:32px;
}
#contact .master-row-one img {
    display:block;
    height:313px;
    width:930px;
}
#contact .master-row-two {
    margin:0 0 10px 0;
}
#contact .master-row-three {
    margin:0 0 20px 0;
}
#contact .master-row-three .slave-column-one {
    margin:0 40px 0 0;
}
#contact .master-row-three .slave-column-two {
    float:left;
}
#contact .master-row-four {
    
}
#contact .master-row-four .slave-column-one {
    width:315px;
}
#contact .master-row-four .slave-column-two {
    width:578px;
}
#contact .success {
    color:#439124;
    font:30px/30px gnuolane,sans-serif;
    margin:0 0 20px 0;
}
#contact h2 {
    color:#1c1c1c;
    font:18px/18px gnuolane,sans-serif;
    margin:0 0 7px 0;        
}
#contact p {
    color:#4e4e4e;
    font:14px/14px calibri,sans-serif;
    margin:0 0 8px 0;    
}
#contact label {
    color:#1c1c1c;
    display:block;
    font:18px/18px gnuolane,sans-serif;
    margin:0 0 6px 0;
}
#contact .form-item {
    margin:0 0 17px 0;
}
#contact .form-text {
    background:#efeeee;
    box-shadow:inset 6px 3px 4px 0 rgba(0, 0, 0, 0.21); 
    border:1px solid #d0d0d0;
    border-radius:5px;
    font:16px/18px calibri,sans-serif;
    height:32px;
    padding:0 5px;
    width:303px;
}
#contact .form-textarea {
    background:#efeeee;
    box-shadow:inset 6px 3px 4px 0 rgba(0, 0, 0, 0.21); 
    border:1px solid #d0d0d0;
    border-radius:5px;
    font:16px/18px calibri,sans-serif;
    height:100px;
    padding:5px;
    width:303px;
}
#contact .form-submit {
    background:#487e32 url(/images/fern-green.jpg) repeat-x;
    border:none;
    border-radius:5px;
    color:#fff;
    display:inline-block;
    font:24px/40px gnuolane,sans-serif;
    text-align:center;
    width:150px;
}
#contact .form-submit:hover {
    background:#d74508;
}
#main-footer {
    background:#262626 url(/images/footer.jpg) repeat-x;
    height:133px;
}
#main-footer .wrapper {
    margin:0 auto;
    padding:39px 0 0 42px;
    position:relative;
    width:958px;
}
#main-footer .master-row-one {
    margin:0 0 10px 0;
}
#main-footer .master-row-one ul {
    margin:0;
    padding:0;
}
#main-footer .master-row-one li {
    border-left:1px solid #6c6c6c;
    float:left;
    margin:0 0 0 22px;
    padding:0 0 0 22px;
}
#main-footer .master-row-one .first {
    border:none;
    margin:0;
    padding:0;
}
#main-footer .master-row-one a {
    color:#6c6c6c;
    display:block;
    font:16px/16px gnuolane,sans-serif;
    text-decoration:none;
}
#main-footer .master-row-two {
    margin:0 0 23px 0;   
}
#main-footer .master-row-two p {
    color:#6c6c6c;
    font:14px/14px gnuolane,sans-serif;
}
#main-footer .master-row-three ul {
    margin:0;
    padding:0;
}
#main-footer .master-row-three li {
    float:left;
    margin:0 0 0 20px;
}
#main-footer .master-row-three .first {
    margin:0;
}
#main-footer .master-row-three a {
    color:#6c6c6c;
    display:block;
    font:14px/14px gnuolane,sans-serif;
    text-decoration:underline;
}
#main-footer .master-row-four {
    position:absolute;
    right:52px;
    top:44px;
}
#main-footer .master-row-four a {
    background:url(/images/derecha-trucks-small.png) no-repeat;
    display:block;
    height:61px;
    outline:0;
    text-indent:-9999px;
    width:120px;
}
.concrete {
    background:#f3f3f3;
    border-radius:5px;
    border:1px solid #d1d1d1;
    padding:30px;
}
.fern-green {
    background:#487e32 url(/images/fern-green.jpg) repeat-x;
    border-radius:5px 5px 0 0;
    color:#fff;
    display:inline-block;
    font:24px/40px gnuolane,sans-serif;
    margin:0 0 0 14px;
    padding:0 25px;
}
.form-error {
    color:#C63B02;
    font:18px/18px gnuolane,sans-serif;
    margin:5px 0 0 0;
}
.grenadier {
    background:#c63b02 url(/images/grenadier.jpg) repeat-x;
    border:1px solid #d16234;
    border-radius:5px;
    color:#fff;
    font:20px/44px gnuolane,sans-serif;
    padding:0 20px;
    text-align:center;
}
.grenadier:hover {
    background:#c63b02;
}
.read-more {
    background:#487e32 url(/images/fern-green.jpg);
    color:#fff;
    display:inline-block;
    font:12px/20px gnuolane,sans-serif;
    padding:0 10px;
    text-decoration:none;
}
.read-more:hover {
    background:#d74508;
}
.master-column-one,
.slave-column-one {
    float:left;
}
.master-column-two,
.slave-column-two {
    float:right;
}
.view-video-youtube{
    background:url(/images/view-video-youtube.png) no-repeat;
    display:inline-block;
    height:23px;
    text-indent:-9999px;
    width:25px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
